<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/flat-admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/theme/blue-sky.css}" />

<script type='text/javascript' th:src="@{/webjars/vue/2.2.4/dist/vue.min.js}"></script>

</head>
<body>
  <script type="text/javascript" th:inline="javascript">
    application = {
      context: [[@{/}]],
    };
  </script>

  <div class="app app-default">
    <segment layout:fragment="content"> </segment>
  </div>

  <script th:src="@{/js/vendor.js}"></script>
</body>
</html>