.btn {
    border-radius: 2px;
    padding: 6px 14px;
}

.btn-group-lg {
    >.btn {
        padding: 10px 16px !important;
        font-size: 16px;
    }
}

.btn-lg {
    padding: 10px 16px !important;
    font-size: 16px;
}

.btn-group-sm {
    >.btn {
        padding: 5px 10px !important;
    }
}

.btn-sm {
    padding: 5px 10px !important;
}

.btn-group-xs {
    >.btn {
        padding: 1px 5px !important;
    }
}

.btn-xs {
    padding: 1px 5px !important;
}

.btn-group {
    .btn+.btn {
        margin-left: 0px;
    }
    .btn+.btn-group {
        margin-left: 0px;
    }
    .btn-group+.btn {
        margin-left: 0px;
    }
    .btn-group+.btn-group {
        margin-left: 0px;
    }
}

.btn-group.open {
    .dropdown-toggle {
        -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
    }
}

.btn-primary {
    color: #ffffff !important;
    background-color: #039cfd !important;
    border: 1px solid #039cfd !important;
    &:hover {
        background-color: #028de5 !important;
        background-color: #028de5 !important;
        border: 1px solid #028de5 !important;
        border: 1px solid #028de5 !important;
    }
    &:focus {
        background-color: #028de5 !important;
        background-color: #028de5 !important;
        border: 1px solid #028de5 !important;
        border: 1px solid #028de5 !important;
    }
    &:active {
        background-color: #028de5 !important;
        background-color: #028de5 !important;
        border: 1px solid #028de5 !important;
        border: 1px solid #028de5 !important;
    }
}

.btn-success {
    color: #ffffff !important;
    background-color: #52bb56 !important;
    border: 1px solid #52bb56 !important;
    &:hover {
        background-color: #45af49 !important;
        background-color: #45af49 !important;
        border: 1px solid #45af49 !important;
        border: 1px solid #45af49 !important;
    }
    &:focus {
        background-color: #45af49 !important;
        background-color: #45af49 !important;
        border: 1px solid #45af49 !important;
        border: 1px solid #45af49 !important;
    }
    &:active {
        background-color: #45af49 !important;
        background-color: #45af49 !important;
        border: 1px solid #45af49 !important;
        border: 1px solid #45af49 !important;
    }
}

.btn-info {
    color: #ffffff !important;
    background-color: #67d1f8 !important;
    border: 1px solid #67d1f8 !important;
    &:hover {
        background-color: #4fcaf7 !important;
        background-color: #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
    }
    &:focus {
        background-color: #4fcaf7 !important;
        background-color: #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
    }
    &:active {
        background-color: #4fcaf7 !important;
        background-color: #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
    }
}

.btn-warning {
    color: #ffffff !important;
    background-color: #f1b53d !important;
    border: 1px solid #f1b53d !important;
    &:hover {
        background-color: #efac25 !important;
        background-color: #efac25 !important;
        border: 1px solid #efac25 !important;
        border: 1px solid #efac25 !important;
    }
    &:focus {
        background-color: #efac25 !important;
        background-color: #efac25 !important;
        border: 1px solid #efac25 !important;
        border: 1px solid #efac25 !important;
    }
    &:active {
        background-color: #efac25 !important;
        background-color: #efac25 !important;
        border: 1px solid #efac25 !important;
        border: 1px solid #efac25 !important;
    }
}

.btn-danger {
    color: #ffffff !important;
    background-color: #ef5350 !important;
    border: 1px solid #ef5350 !important;
    &:active {
        background-color: #ed3c39 !important;
        background-color: #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
    }
    &:focus {
        background-color: #ed3c39 !important;
        background-color: #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
    }
    &:hover {
        background-color: #ed3c39 !important;
        background-color: #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
    }
}

.btn-inverse {
    color: #ffffff !important;
    background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
    &:hover {
        background-color: #414a58 !important;
        background-color: #414a58 !important;
        border: 1px solid #414a58 !important;
        border: 1px solid #414a58 !important;
    }
    &:focus {
        background-color: #414a58 !important;
        background-color: #414a58 !important;
        border: 1px solid #414a58 !important;
        border: 1px solid #414a58 !important;
    }
    &:active {
        background-color: #414a58 !important;
        background-color: #414a58 !important;
        border: 1px solid #414a58 !important;
        border: 1px solid #414a58 !important;
    }
}

.btn-purple {
    color: #ffffff !important;
    background-color: #7266ba !important;
    border: 1px solid #7266ba !important;
    &:hover {
        background-color: #6254b2 !important;
        border: 1px solid #6254b2 !important;
    }
    &:focus {
        background-color: #6254b2 !important;
        border: 1px solid #6254b2 !important;
    }
    &:active {
        background-color: #6254b2 !important;
        border: 1px solid #6254b2 !important;
    }
}

.btn-pink {
    color: #ffffff !important;
    background-color: #f76397 !important;
    border: 1px solid #f76397 !important;
    &:hover {
        background-color: #f64b87 !important;
        border: 1px solid #f64b87 !important;
    }
    &:focus {
        background-color: #f64b87 !important;
        border: 1px solid #f64b87 !important;
    }
    &:active {
        background-color: #f64b87 !important;
        border: 1px solid #f64b87 !important;
    }
}

.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    &:focus {
        background-color: #f3f3f3;
        border-color: #cccccc;
    }
    &:hover {
        background-color: #f3f3f3;
        border-color: #cccccc;
    }
    &:active {
        background-color: #f3f3f3;
        border-color: #cccccc;
        background-color: #f3f3f3;
        border-color: #cccccc;
    }
}

.btn-default.active {
    background-color: #f3f3f3;
    border-color: #cccccc;
}

.open {
    >.dropdown-toggle.btn-default {
        background-color: #f3f3f3;
        border-color: #cccccc;
    }
    >.dropdown-toggle.btn-primary {
        background-color: #028de5 !important;
        border: 1px solid #028de5 !important;
    }
    >.dropdown-toggle.btn-success {
        background-color: #45af49 !important;
        border: 1px solid #45af49 !important;
    }
    >.dropdown-toggle.btn-info {
        background-color: #4fcaf7 !important;
        border: 1px solid #4fcaf7 !important;
    }
    >.dropdown-toggle.btn-warning {
        background-color: #efac25 !important;
        border: 1px solid #efac25 !important;
    }
    >.dropdown-toggle.btn-danger {
        background-color: #ed3c39 !important;
        border: 1px solid #ed3c39 !important;
    }
    >.dropdown-toggle.btn-inverse {
        background-color: #414a58 !important;
        border: 1px solid #414a58 !important;
    }
}

.btn-primary.active {
    background-color: #028de5 !important;
    border: 1px solid #028de5 !important;
}

.btn-primary.focus {
    background-color: #028de5 !important;
    border: 1px solid #028de5 !important;
}

.btn-success.active {
    background-color: #45af49 !important;
    border: 1px solid #45af49 !important;
}

.btn-success.focus {
    background-color: #45af49 !important;
    border: 1px solid #45af49 !important;
}

.btn-info.active {
    background-color: #4fcaf7 !important;
    border: 1px solid #4fcaf7 !important;
}

.btn-info.focus {
    background-color: #4fcaf7 !important;
    border: 1px solid #4fcaf7 !important;
}

.btn-warning.active {
    background-color: #efac25 !important;
    border: 1px solid #efac25 !important;
}

.btn-warning.focus {
    background-color: #efac25 !important;
    border: 1px solid #efac25 !important;
}

.btn-danger.active {
    background-color: #ed3c39 !important;
    border: 1px solid #ed3c39 !important;
}

.btn-danger.focus {
    background-color: #ed3c39 !important;
    border: 1px solid #ed3c39 !important;
}

.btn-inverse.active {
    background-color: #414a58 !important;
    border: 1px solid #414a58 !important;
}

.btn-inverse.focus {
    background-color: #414a58 !important;
    border: 1px solid #414a58 !important;
}

.btn-custom {
    border-bottom: 3px solid transparent;
}

.btn-custom.btn-default {
    background-color: #f3f3f3;
    border-bottom: 2px solid #cccccc !important;
}

.btn-custom.btn-primary {
    border-bottom: 2px solid #027dcb !important;
}

.btn-custom.btn-success {
    border-bottom: 2px solid #3e9c41 !important;
}

.btn-custom.btn-info {
    border-bottom: 2px solid #0bb1ee !important;
}

.btn-custom.btn-warning {
    border-bottom: 2px solid #eaa211 !important;
}

.btn-custom.btn-danger {
    border-bottom: 2px solid #c71612 !important;
}

.btn-custom.btn-inverse {
    border-bottom: 2px solid #21252c !important;
}

.btn-custom.btn-purple {
    border-bottom: 2px solid #443a80 !important;
}

.btn-custom.btn-pink {
    border-bottom: 2px solid #e80c59 !important;
}

.btn-rounded {
    border-radius: 2em;
    padding: 6px 18px;
}