@import (reference) '../variables.less';
.checkbox {
  padding-left: 20px;
  label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    &::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid #cccccc;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important;
    }
    &::after {
      color: #555555;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: 0;
      width: 16px;
    }
  }
  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
    &:disabled+label {
      opacity: 0.65;
      &::before {
        background-color: #eeeeee;
        cursor: not-allowed;
      }
    }
    &:focus+label {
      &::before {
        outline-offset: -2px;
        outline: none;
      }
    }
    &:checked+label {
      &::after {
        content: "\f00c";
        font-family: 'FontAwesome';
      }
    }
  }
}

.checkbox.checkbox-circle {
  label {
    &::before {
      border-radius: 50%;
    }
  }
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single {
  label {
    height: 17px;
  }
}

.checkbox-primary {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-primary;
        border-color: @color-primary;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-danger {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-danger;
        border-color: @color-danger;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-info {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-info;
        border-color: @color-info;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-warning {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-warning;
        border-color: @color-warning;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-success {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-success;
        border-color: @color-success;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-purple {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-purple;
        border-color: @color-purple;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-pink {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-pink;
        border-color: @color-pink;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.checkbox-inverse {
  input[type="checkbox"] {
    &:checked+label {
      &::before {
        background-color: @color-inverse;
        border-color: @color-inverse;
      }
      &::after {
        color: #ffffff;
      }
    }
  }
}

.radio {
  padding-left: 20px;
  label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    &::before {
      -o-transition: border 0.5s ease-in-out;
      -webkit-transition: border 0.5s ease-in-out;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #cccccc;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      outline: none !important;
      position: absolute;
      transition: border 0.5s ease-in-out;
      width: 17px;
    }
    &::after {
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -webkit-transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      background-color: #555555;
      border-radius: 50%;
      content: " ";
      display: inline-block;
      height: 11px;
      left: 3px;
      margin-left: -20px;
      position: absolute;
      top: 3px;
      transform: scale(0, 0);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      width: 11px;
    }
  }
  input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
    &:disabled+label {
      opacity: 0.65;
      &::before {
        cursor: not-allowed;
      }
    }
    &:focus+label {
      &::before {
        outline-offset: -2px;
        outline: 5px auto -webkit-focus-ring-color;
        outline: thin dotted;
      }
    }
    &:checked+label {
      &::after {
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
      }
    }
  }
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single {
  label {
    height: 17px;
  }
}

.radio-primary {
  input[type="radio"]+label {
    &::after {
      background-color: @color-primary;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-primary;
      }
      &::after {
        background-color: @color-primary;
      }
    }
  }
}

.radio-danger {
  input[type="radio"]+label {
    &::after {
      background-color: @color-danger;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-danger;
      }
      &::after {
        background-color: @color-danger;
      }
    }
  }
}

.radio-info {
  input[type="radio"]+label {
    &::after {
      background-color: @color-info;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-info;
      }
      &::after {
        background-color: @color-info;
      }
    }
  }
}

.radio-warning {
  input[type="radio"]+label {
    &::after {
      background-color: @color-warning;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-warning;
      }
      &::after {
        background-color: @color-warning;
      }
    }
  }
}

.radio-success {
  input[type="radio"]+label {
    &::after {
      background-color: @color-success;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-success;
      }
      &::after {
        background-color: @color-success;
      }
    }
  }
}

.radio-purple {
  input[type="radio"]+label {
    &::after {
      background-color: @color-purple;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-purple;
      }
      &::after {
        background-color: @color-purple;
      }
    }
  }
}

.radio-pink {
  input[type="radio"]+label {
    &::after {
      background-color: @color-pink;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-pink;
      }
      &::after {
        background-color: @color-pink;
      }
    }
  }
}

.radio-inverse {
  input[type="radio"]+label {
    &::after {
      background-color: @color-inverse;
    }
  }
  input[type="radio"] {
    &:checked+label {
      &::before {
        border-color: @color-inverse;
      }
      &::after {
        background-color: @color-inverse;
      }
    }
  }
}