@import (reference) '../variables.less';
.notifi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 11px 20px 15px;
  color: @color-inverse;
  font-family: 'Roboto', sans-serif;
}

.notification-list {
  max-height: 230px;
  overflow-y: auto;
  em {
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    margin-top: 4px;
  }
  .list-group-item {
    padding: 12px 20px;
  }
  .media-body {
    display: inherit;
    width: auto;
    overflow: hidden;
    margin-left: 50px;
    h5 {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
      font-weight: normal;
      overflow: hidden;
    }
  }
}

.noti-primary {
  color: @color-primary;
  border: 2px solid @color-primary;
}

.noti-success {
  color: @color-success;
  border: 2px solid @color-success;
}

.noti-info {
  color: @color-info;
  border: 2px solid @color-info;
}

.noti-warning {
  color: @color-warning;
  border: 2px solid @color-warning;
}

.noti-danger {
  color: @color-danger;
  border: 2px solid @color-danger;
}

.noti-purple {
  color: @color-purple;
  border: 2px solid @color-purple;
}

.noti-pink {
  color: @color-pink;
  border: 2px solid @color-pink;
}

.noti-inverse {
  color: @color-inverse;
  border: 2px solid @color-inverse;
}