@import (reference) '../variables.less';
.table {
  margin-bottom: 10px;
  >tbody {
    >tr {
      >td {
        border-top: 1px solid #f3f3f3;
      }
      >th {
        border-top: 1px solid #f3f3f3;
      }
      >td.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >td.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >td.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >td.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
    >tr.success {
      >td {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th {
        background-color: rgba(82, 187, 86, 0.15);
      }
    }
    >tr.info {
      >td {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th {
        background-color: rgba(103, 209, 248, 0.15);
      }
    }
    >tr.warning {
      >td {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th {
        background-color: rgba(241, 181, 61, 0.15);
      }
    }
    >tr.danger {
      >td {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
  }
  >tfoot {
    >tr {
      >td {
        border-top: 1px solid #f3f3f3;
      }
      >th {
        border-top: 1px solid #f3f3f3;
      }
      >td.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >td.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >td.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >td.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
    >tr.success {
      >td {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th {
        background-color: rgba(82, 187, 86, 0.15);
      }
    }
    >tr.info {
      >td {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th {
        background-color: rgba(103, 209, 248, 0.15);
      }
    }
    >tr.warning {
      >td {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th {
        background-color: rgba(241, 181, 61, 0.15);
      }
    }
    >tr.danger {
      >td {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
  }
  >thead {
    >tr {
      >td {
        border-top: 1px solid #f3f3f3;
      }
      >th {
        border-top: 1px solid #f3f3f3;
        border-bottom: 2px solid #f3f3f3;
        text-transform: uppercase;
      }
      >td.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th.success {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >td.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th.info {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >td.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th.warning {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >td.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th.danger {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
    >tr.success {
      >td {
        background-color: rgba(82, 187, 86, 0.15);
      }
      >th {
        background-color: rgba(82, 187, 86, 0.15);
      }
    }
    >tr.info {
      >td {
        background-color: rgba(103, 209, 248, 0.15);
      }
      >th {
        background-color: rgba(103, 209, 248, 0.15);
      }
    }
    >tr.warning {
      >td {
        background-color: rgba(241, 181, 61, 0.15);
      }
      >th {
        background-color: rgba(241, 181, 61, 0.15);
      }
    }
    >tr.danger {
      >td {
        background-color: rgba(239, 83, 80, 0.15);
      }
      >th {
        background-color: rgba(239, 83, 80, 0.15);
      }
    }
  }
}

tbody {
  color: #797979;
}

th {
  color: #666666;
  font-size: 15px;
}

table.focus-on {
  tbody {
    tr.focused {
      th {
        background-color: @color-primary;
        color: #ffffff;
      }
      td {
        background-color: @color-primary;
        color: #ffffff;
      }
    }
  }
}