<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/flat-admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/theme/blue-sky.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

</head>
<body>
  <div id="application"></div>

  <script th:src="@{/js/vendor.js}"></script>
  <script src="/webjars/employger/0.0.1-SNAPSHOT/app-bundle.js"></script>
</body>
</html>