@color-accent: #3bafda;

@color-primary: #039cfd;
@color-primary-active: #028de5;
@color-success: #52bb56;
@color-success-active: #45af49;
@color-info: #67d1f8;
@color-info-active: #4fcaf7;
@color-warning: #f1b53d;
@color-warning-active: #efac25;
@color-danger: #ef5350;
@color-danger-active: #ed3c39;
@color-inverse: #4c5667;
@color-inverse-active: #414a58;
@color-purple: #7266ba;
@color-purple-active: #6254b2;
@color-pink: #f76397;
@color-pink-active: #f64b87;